main {
	min-height: 80vh;
}

.form-group input,
.form-control,
.form-select,
input,
textarea,
select {
	color: white;
	background: white;
	background-color: white;
	padding-top: 5px;
}

form {
	padding: 20px;
}

.input-group {
	padding-top: 20px;
}
